@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --color-primary: #1A4598;
  --color-accent: #F6BA63;
  --color-info: #549FD7;
  --color-info-light: #57A0D7;
  --color-highlight: #FFEBB9;
  --color-backgroundColor: #F3F3F3;

  --font-primary: var(--font-primary);
}

@theme {
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-info: var(--color-info);
  --color-info-light: var(--color-info-light);
  --color-highlight: var(--color-highlight);
  --color-backgroundColor: var(--color-backgroundColor);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), Helvetica, sans-serif;
}